<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite1">
    <test name = "test1">
        <parameter name =  "entryData1" value="*9"/>
        <parameter name =  "entryData2" value="1"/>
        <parameter name =  "entryData3" value="2"/>
        <parameter name =  "entryData4" value="-1"/>
        <parameter name =  "entryData5" value="0"/>
        <parameter name =  "entryData6" value="Integer.MAX_VALUE+1 "/>
        <parameter name =  "entryData7" value="Integer.MIN_VALUE"/>

        <classes>
            <class name = "AllOptionsPickerTest"/>
        </classes>

    </test>
</suite>