<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Suite" >
    <test name = "test">
        <classes>
            <class name = "academy.softserve.testsLogic.singIn.SmokeTest"/>
            <class name = "academy.softserve.testsLogic.singIn.ToLongNameTest"/>
            <class name = "academy.softserve.testsLogic.singIn.RedirectTest"/>
            <class name = "academy.softserve.testsLogic.singIn.MailAlreadyExistTest"/>
            <class name = "academy.softserve.testsLogic.singIn.EmptyPasswordTest"/>
        </classes>
    </test>

</suite>